@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

//Fonts
$BigShoulders: "Big Shoulders Display", cursive;
$LexendDeca: "Lexend Deca", sans-serif;

//Font Size
$FontSize: 15px;

//Primary Colors
$Orange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$DarkerCyan: hsl(179, 100%, 13%);

//Text Colors
$TransparentWhite: hsla(0, 0%, 100%, 0.6);
$LightGray: hsl(0, 0%, 95%);

@mixin resets {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin centerDiv {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

* {
  @include resets();
  transition: all 0.2s ease;
}

body {
  @include centerDiv();
}

main {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 530px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  img {
    width: 60px;
    margin-bottom: 30px;
  }
  .title {
    font-family: $BigShoulders;
    color: $LightGray;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 30px;
  }
  p {
    color: $TransparentWhite;
    font-family: $LexendDeca;
    line-height: 30px;
    margin-bottom: 75px;
  }
}

.card1 {
  background-color: $Orange;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  button {
    color: $Orange;
    font-family: $LexendDeca;
    border: none;
    cursor: pointer;
    width: 160px;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 20px;
    &:hover {
      background-color: $Orange;
      color: white;
      border: 2px solid white;
    }
  }
  p {
    width: 220px;
  }
}

.card2 {
  background-color: $DarkCyan;
  button {
    color: $DarkCyan;
    font-family: $LexendDeca;
    border: none;
    cursor: pointer;
    width: 160px;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 20px;
    &:hover {
      background-color: $DarkCyan;
      color: white;
      border: 2px solid white;
    }
  }
  p {
    width: 226px;
  }
}

.card3 {
  background-color: $DarkerCyan;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  button {
    color: $DarkerCyan;
    font-family: $LexendDeca;
    border: none;
    cursor: pointer;
    width: 160px;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 20px;
    &:hover {
      background-color: $DarkerCyan;
      color: white;
      border: 2px solid white;
    }
  }
}

@media (width <= 990px) {
  body {
    padding: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .card1 {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }

  .card3 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
